In [ ]:
1
item1_price = int(input('Item1 price: '))
item1_quantity = int(input('Item1 quantity: '))

item2_price = int(input('Item2 price: '))
item2_quantity = int(input('Item2 quantity: '))

total_bill = (item1_price * item1_quantity) + (item2_price * item2_quantity)

print(f'Total Bill: {total_bill}')

Item1 price: 12
Item1 quantity: 12
Item2 price: 12
Item2 quantity: 1
Total Bill: 156

In [1]:
2
celsius = float(input('Enter temperature in Celsius: '))
fahrenheit = (celsius * 9/5) + 32
print(f'Temperature in Fahrenheit: {fahrenheit}')

Enter temperature in Celsius: 15
Temperature in Fahrenheit: 59.0

In [ ]:
3
basic_salary = float(input('Enter basic salary: '))

HRA = 0.20 * basic_salary
DA = 0.10 * basic_salary

total_salary = basic_salary + HRA + DA

print(f'Net Salary: {total_salary}')

Enter basic salary: 10000
Net Salary: 13000.0

In [ ]:
4
principal = float(input('Principal: '))
rate = float(input('Rate of Interest: '))
time = float(input('Time (in years): '))

simple_interest = (principal * rate * time) / 100

print(f'Simple Interest = {simple_interest}')

Principal: 11
Rate of Interest: 11
Time (in years): 4
Simple Interest = 4.84

In [1]:
 5
 total_minutes = int(input('Enter total minutes: '))

hours = total_minutes // 60
minutes = total_minutes % 60

print(f'{hours} hours and {minutes} minutes')

Enter total minutes: 45
0 hours and 45 minutes

In [4]:
6
weight_kg = float(input('Enter weight in kg: '))
height_m = float(input('Enter height in meters: '))

bmi = weight_kg / (height_m * height_m)

print(f'BMI = {bmi:.2f}')

Enter weight in kg: 50
Enter height in meters: 2
BMI = 12.50

In [5]:
7
original_price = float(input('Original price: '))
discount_rate = 0.10 # 10% discount

discount_amount = original_price * discount_rate
discounted_price = original_price - discount_amount

print(f'Discounted Price: {discounted_price}')

Original price: 1222
Discounted Price: 1099.8

In [6]:
8
import math

a = float(input('Enter side a: '))
b = float(input('Enter side b: '))
c = float(input('Enter side c: '))

s = (a + b + c) / 2

area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print(f'Area of the triangle: {area:.2f}')

Enter side a: 5
Enter side b: 6
Enter side c: 6
Area of the triangle: 13.64

In [7]:
9
wall_length = float(input('Enter wall length (in meters): '))
wall_height = float(input('Enter wall height (in meters): '))

# Dimensions of each window
window_length = 1.5
window_height = 1.2

# Calculate total wall area
total_wall_area = wall_length * wall_height

# Calculate area of one window
window_area = window_length * window_height

# Calculate total area of two windows
two_windows_area = 2 * window_area

# Calculate the total area to be painted
area_to_be_painted = total_wall_area - two_windows_area

# Cost per square meter
cost_per_sq_meter = 25

# Calculate total painting cost
total_painting_cost = area_to_be_painted * cost_per_sq_meter

print(f'Total area to be painted: {area_to_be_painted:.1f} sq.m')
print(f'Total painting cost: ₹{total_painting_cost:.1f}')]

Enter wall length (in meters): 12
Enter wall height (in meters): 2
Total area to be painted: 20.4 sq.m
Total painting cost: ₹510.0

In [8]:
10
units_consumed = float(input('Enter number of units consumed: '))
++
total_bill = (units_consumed * rate_per_unit) + fixed_charge

print(f'Electricity Bill: ₹{total_bill:.1f}')

Enter number of units consumed: 250
Electricity Bill: ₹1400.0

In [ ]:
s='nirmala college'
for i in s:
  print(i)